@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import 'theme-colors.scss';
@import 'mixins.scss';


*,
*:before,
*:after{
	margin:0;
	padding:0;
	outline:0;
	border:0;
	box-sizing: border-box;
}

body,html{
	height:100%;
}

body{
	background:$theme-ffffff;
	color: $theme-080000;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;

	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;	
}

ul{
	list-style: none;
	li{
		a{
			text-decoration: none;
		}
		a:hover{
			text-decoration: none;
		}
	}
}

ul.floated-list{
	margin-bottom:0;
	li{
		float: left;
		display:block;
		a{
			display:block;
		}
		ul{
			margin-bottom: 0;
			li{
				float: none;
			}
		}
	}
}

a{
	text-decoration: none;
	color:inherit;
	@include transition(all, 0.35s, ease-out);
	&:hover{
		opacity: 1;
	}
}
button[type="submit"],
input[type="submit"]{
	@include transition(all, 0.35s, ease-out);
	&:hover{
		opacity: 0.7;
	}
}
img{
	border:0;
}



h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
h1{
	font-size: 26px;
}

h2{
	font-size: 24px;
}

h3{
	font-size: 22px;
}

h4{
	font-size: 20px;
}

h5{
	font-size: 18px;
}

h6{
	font-size: 16px;
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a{
	color: inherit;
}
label{
	font-weight: normal;
}
.font8px{
	font-size: 8px;
}
.font9px{
	font-size: 9px;
}
.font10px{
	font-size: 10px;
}
.font11px{
	font-size: 11px;
}
.font12px{
	font-size: 12px;
}
.font13px{
	font-size: 13px;
}
.font14px{
	font-size: 14px;
}
.font15px{
	font-size: 15px;
}
.font16px{
	font-size: 16px;
}
.bdrs0{
	border-radius: 0;
}
.bdrs5px{
	border-radius: 5px;
}
.bdrs8px{
	border-radius: 8px;
}
.bdrs10px{
	border-radius: 10px;
}
.icon-text{
	margin-right: 8px;
	&.sm{
		margin-right: 4px;
	}
}
.weight-200{
	font-weight: 200;
}
.weight-300{
	font-weight: 300;
}
.weight-400{
	font-weight: 400;
}
.weight-600{
	font-weight: 600;
}
.weight-700{
	font-weight: 700;
}
.weight-900{
	font-weight: 900;
}
.font-style-italic{
	font-style: italic;
}
.font-style-normal{
	font-style: normal;
}
.clear{
	clear:both;
}
.clearfix:before,
.clearfix:after{
	display: table;
	content: '';
}
.clearfix:after{
	clear: both;
}
.inline{
	display: inline;
}
.block{
	display: block;
}
.inline-block{
	display: inline-block;
}
.lowercase{
	text-transform: lowercase;
}
.capitalize{
	text-transform: capitalize;
}
.uppercase{
	text-transform: uppercase;
}
.div-center{
	display:table;
	margin:0 auto;
	float: none;
}
.fullHeight{
	height:100%;
}
.mytable{
	display: table;
	width: 100%;
	height: 100%;
}
.fixed-table-layout{
	table-layout: fixed;
}
.table-cell{
	display:table-cell;
}
.va-middle{
	vertical-align: middle;
}
.va-top{
	vertical-align: top;
}
.va-bottom{
	vertical-align: bottom;
}
.static{
	position: static;
}
.relative{
	position: relative;
}
.absolute{
	position: absolute;
}
.fixed{
	position: fixed;
}
.cover{
	@include coordinates(0,0,0,0);
}
.circle{
	border-radius: 50%;
}
.m0{
	margin:0 !important;
}
.mb-0{
	margin-bottom: 0 !important;
}
.mb-10{
	margin-bottom: 10px !important;
}
.mb-20{
	margin-bottom: 20px !important;
}
.mb-30{
	margin-bottom: 30px !important;
}
.mb-40{
	margin-bottom: 40px !important;
}
.mb-50{
	margin-bottom: 50px !important;
}
.mt-0{
	margin-top: 0 !important;
}
.mt-10{
	margin-top: 10px !important;
}
.mt-20{
	margin-top: 20px !important;
}
.mt-30{
	margin-top: 30px !important;
}
.mt-40{
	margin-top: 40px !important;
}
.mt-50{
	margin-top: 50px !important;
}
.my-0{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.my-10{
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}
.my-20{
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}
.my-30{
	margin-top: 30px !important;
	margin-bottom: 30px !important;
}
.my-40{
	margin-top: 40px !important;
	margin-bottom: 40px !important;
}
.my-50{
	margin-top: 50px !important;
	margin-bottom: 50px !important;
}
.pb-0{
	padding-bottom: 0 !important;
}
.pb-10{
	padding-bottom: 10px !important;
}
.pb-20{
	padding-bottom: 20px !important;
}
.pb-30{
	padding-bottom: 30px !important;
}
.pb-40{
	padding-bottom: 40px !important;
}
.pb-50{
	padding-bottom: 50px !important;
}
.pt-0{
	padding-top: 0 !important;
}
.pt-10{
	padding-top: 10px !important;
}
.pt-20{
	padding-top: 20px !important;
}
.pt-30{
	padding-top: 30px !important;
}
.pt-40{
	padding-top: 40px !important;
}
.pt-50{
	padding-top: 50px !important;
}
.py-0{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.py-10{
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}
.py-20{
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}
.py-30{
	padding-top: 30px !important;
	padding-bottom: 30px !important;
}
.py-40{
	padding-top: 40px !important;
	padding-bottom: 40px !important;
}
.py-50{
	padding-top: 50px !important;
	padding-bottom: 50px !important;
}
.fill{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.col-xs-20,
.col-sm-20,
.col-md-20,
.col-lg-20 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px; 
}
.col-xs-20 {
	width: 20%;
	float: left; 
}
@media (min-width: 768px) {
	.col-sm-20 {
		width: 20%;
		float: left; 
	} 
}
@media (min-width: 992px) {
	.col-md-20 {
		width: 20%;
		float: left; 
	} 
}
@media (min-width: 1200px) {
	.col-lg-20 {
		width: 20%;
		float: left; 
	} 
}

.fitVid{
	position: relative;
	padding-bottom: 56%;
	height: 0;
	iframe{
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
	}
}

// Bootstrap Gutter Changes
.row45{
	margin-left: -45px;
	margin-right: -45px;
	.column{
		padding-left: 45px;
		padding-right: 45px;
	}
}
.row25{
	margin-left: -25px;
	margin-right: -25px;
	.column{
		padding-left: 25px;
		padding-right: 25px;
	}
}
.row20{
	margin-left: -20px;
	margin-right: -20px;
	.column{
		padding-left: 20px;
		padding-right: 20px;
	}
}
.row10{
	margin-left: -10px;
	margin-right: -10px;
	.column{
		padding-left: 10px;
		padding-right: 10px;
	}
}
.row7{
	margin-left: -7px;
	margin-right: -7px;
	.column{
		padding-left: 7px;
		padding-right: 7px;
		margin-bottom: 14px;
	}
}
.row5{
	margin-left: -5px;
	margin-right: -5px;
	.column{
		padding-left: 5px;
		padding-right: 5px;
	}
}

.form-control{
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.055);
}
.form-control[type="button"],
.form-control[type="submit"],
.form-control[type="reset"]{
	-webkit-appearance:none;
	cursor:pointer;
}
.form-control::-moz-placeholder {
	color: #838383;	
	opacity: 1;
}
.form-control:-ms-input-placeholder {
	color: #838383;	
}
.form-control::-webkit-input-placeholder {
	color: #838383;	
}
.form-control:focus{
	box-shadow: none;
	//border: 1px solid $theme-007a92 !important;
}

//Containers
.hp-container{
	max-width: 1400px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	.hc-sub-container{
		display: table;
		margin-left: auto;
		margin-right: auto;
		&.hsc-100{
			width: 100%;
		}
		&.hsc-95{
			width: 95%;
		}	
		&.hsc-90{
			width: 90%;
		}
		&.hsc-85{
			width: 85%;
		}		
		&.hsc-80{
			width: 80%;
		}
		&.hsc-60{
			width: 60%;
		}
		&.hsc-65{
			width: 65%;
		}	    	
	}
}

.sec-title{
	h2{
		margin: 0;
		font-size: 48px;
		font-weight: 700;
		color:$theme-003591;
		span{
			font-size: 26px;
			font-weight: 800;
			color: $theme-6a6a6a
		}
	}
}
.hp-button{
	color: $theme-ffffff;
	background-color: $theme-003591;
	padding: 8px 50px 8px 10px;
	display: inline-block;
	font-weight: 800;
	font-size: 14px;
	img{
		margin-left: 5px;
		vertical-align: middle;
		@include rotate(-90deg)
	}
}
.section{
	margin: 0 0 150px;
}	
.section-1{
	.s1-content{
		.ss-items{
			display: none;
			&.active{
				display: block;
			}
		}
		.s1-slider{
			.ss-items{
				height: 80vh;
				position: relative;
				.design-box{
					border: 1px solid  #bdbdbd;
					width: 315px;
					height: 285px;
					position: absolute;
					top: 27%;
					left: 11%;
					z-index: 2;
				}
				.ssi-contain{
					.ssic-title{
						max-width: 500px;
						position: absolute;
						top: 35%;
						left: 20%;
						z-index: 2;
						.ssict-text{
							h1{
								margin: 0;
								font-size: 72px;
								font-weight: 700;
								color: $theme-ffffff;

							}
						}
					}
					.ssi-cta-section{
						display: block;
						position: absolute;
						right: 0;
						bottom: 0;
						background-color: $theme-003591;
						padding:80px 0 14px;
						z-index: 2;
						max-width: 250px;
						text-decoration: none;
						.ssics-intro{
							padding:0 17px;
							p{
								margin: 0;
								font-size: 20px;
								font-weight: 800;
								color: $theme-ffffff;
							}
						}
						.ssics-icon{
							text-align: right;
							img{
								@include rotate(-90deg)
							}
						}
					}
				}
				&:after{
					position: absolute;
					content: '';
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					z-index: 1;
					background-color: rgba(10,10,10,0.40);
				}
			}
		}
		.s1-tabs{
			margin-top: 40px;
			margin-bottom: 150px;

			ul{
				margin-left: -10px;
				margin-right: -10px;
				li{
					padding-left: 10px;
					padding-right: 10px;
					width: 14.28571%;
					
					a{
						color: $theme-666666;
						font-size: 14px;
						font-weight: 800;
						text-transform: uppercase;
						border-bottom: 1px solid $theme-858585;
						padding-bottom: 10px;
						&:hover{
							@include transition(all, 0.35s, ease-out);
							color:$theme-003591;
							border-bottom: 1px solid $theme-003591;
						}
					}
				}
			}
		}
		.s1-intro{
			.s1i-tittle-image-text-cta{
				.s1ititc-title-image{
					position: relative;
					.s1i-title{
						position: absolute;
						top:-100px;
						z-index: 3; 
					}
					.s1i-image{
						position: relative;
						z-index: 2;
						
						
					}
					.s1i-design-box{
						width: 450px;
						height: 300px;
						border: 1px solid  #bdbdbd;
						position: absolute;
						right: -45px;
						top: 120px;
						z-index: 1;
					}
				}
				.s1ititc-text-cta{
					padding-left: 90px;
					.s1ititctc-text{
						.s1ititct-title{
							max-width: 490px;
							margin-bottom: 40px;
							h3{
								font-size: 24px;
								font-weight: 600;
							}	
						}
						.s1ititct-description{
							margin-bottom: 40px;
							max-width: 440px;
							p{
								margin-bottom: 40px;
								&:last-child{
									margin-bottom: 0;
								}
							}
						}
					}
				}
			}
			.s1i-four-column-listing{
				position: relative;
				margin-top: 100px;
				ul{
					margin-left: -10px;
					margin-right: -10px;
					li{
						position: relative;
						padding-left: 10px;
						padding-right: 10px;
						width: 25%;
						.fcl-title{
							h2{
								font-size: 60px;
								font-weight: 700;
								color: $theme-003591;
							}
						}
						.fcl-desc{
							width: 200px;
							p{
								padding-bottom: 10px;
							}
						}
						&:after{
							position: absolute;
							width: 200px;
							height: 1px;
							border:1px solid $theme-003591;
							content: '';
							//@include translate(0, -50%);
							bottom: 0;
							left: 0;
							z-index: 3;
						}
					}
				}

			}
		}
	}
}
.section-2{

	.s2-contain{
		.s2c-left-image{
			position: relative;
			padding-right: 90px;
			.sec-title{
				position: absolute;
				top: -100px;
				left: 50px;
				z-index: 2;
			}
			.s2cli-image{
				position: relative;
				z-index: 1;
			}
			.s2cli-design-box{
				width: 350px;
				height: 240px;
				border: 1px solid #ababab;
				position: absolute;
				top: -100px;
				left: -25px;
				z-index: 0;
			}
		}
		.s2c-right-text{
			.s2crt-desc{
				max-width: 600px;
				margin-bottom: 40px;
				p{

				}
			}
			.s2crt-cta{
				width: 360px;
				.hp-button{
					padding:18px 0 18px 10px;
					.text-sec{
						font-size: 20px;

					}
					.image-sec{
						img{
							margin-left: 20px;
						}
					}
				}
			}
		}
	}
}
.section-3{
	position: relative;
	background: linear-gradient(90deg, #ffffff 62%, #f7f7f7 38%);
	padding-top: 35px;
	.s3-contain{
		
		.faq-column{
			
			.fqc-contain{
				padding-left: 20px;
				padding-right: 20px;
				padding-top: 15px;
				margin-top: 40px;
				position: relative;
				height:500px;
				border-left:1px solid #dbdbdb;
				.fc-title{
					margin-bottom: 30px;

					h3{
						margin: 0;
						font-size: 20px;
						color:#02549f;	
					}
				}
				.fc-desc{
					color:#080200;
					margin-bottom: 25px;
					.fcd-title{
						margin-bottom: 5px;
						h4{
							font-weight: 600;
							font-size: 14px;
						}
					}
					.fcd-desc{
						p{

						}
					}
				}
				.fcd-cta{
					position: absolute;
					bottom: 0;
					.hp-button{
						background-color: transparent;
						color: $theme-003591;
					}
				}
			}
		}
		.note-column{

			.s2ccncc-desc{
				background-color:#009fda;
				padding:80px 35px 105px 35px;
				max-width: 390px;

				h3{
					font-size: 30px;
					font-weight: 700;
					color: $theme-ffffff;
					text-transform: uppercase;
				}
			}
		}
	}
}
.section-4{
	position:relative;
	.s4-contain{
		.s4c-note{
			position: absolute;
			@include translate(-50%,-50%);
			top: 50%;
			left: 50%;
			display: inline-block;
			background-color: #ebebeb;
			z-index: 2;
			.s4cn-contain{
				padding:30px 40px 20px 30px;
				position: relative;
				.s4cn-title{
					max-width: 380px;
					margin-bottom: 15px;
					h3{
						margin: 0;
						font-size: 24px;
						font-weight: 700;
						color:#999999;
					}
				}
				.s4cn-desc{
					max-width: 430px;
					p{
						color: #7d7b7a;
						margin: 0;
					}
				}
				.s4cn-cta{
					position: relative;
					text-align: right;
					bottom: -40px;
				}
			}
		}
		.s4c-image{
			padding-left: 40px;
		}
	}
}
.section-5{
	margin-top: -165px;
	position: relative;
	.s5-title{
		background-color: $theme-003591;
		text-align: center;
		padding: 25px 15px;
		margin-bottom: 95px;
		max-width: 57%;
		h2{
			margin: 0;
			text-transform: uppercase;
			font-size: 36px;
			color: #ffffff;
			font-weight: 700;	
		}
	}
	.s5-tabs{
		margin-bottom: 50px;
	}
	.s5-content{
		.s5c-listings{
			max-width: 800px;
			margin-left: auto;
			margin-right: auto;
			.sl-item{
				margin-bottom: 45px;
				a{
					display: block;
					.ssit-image{
						img{
							width: 100%;
						}
					}
					.image-title{
						background:#009fda;
						padding: 7px 0 7px 15px;
						position: relative;
						&:after{
							position: absolute;
							content:'';
							border-right: 36px solid $theme-ffffff;
							border-left: 36px solid transparent;
							border-top: 36px solid transparent;

							z-index: 2;
							right: 0;
							top: 0;
						}
						.it-text{
							color: #ffffff;
							font-weight: 800;
							font-size: 14px;
						}
						.it-icon{
							float: right;
							margin-right: 30px;
							img{

								@include rotate(-90deg)
							}
						}
					}
				}
			}

		}
		.s5-intro{
			.sst-content{
				.sstc-title{
					margin-bottom: 18px;
					h2{
						margin: 0;
						font-size: 20px;
						font-weight: 700;
						color: #a6a6a6;
					}
				}
				.sstc-sub-title{
					margin-bottom: 30px;
					h3{
						margin: 0;
						font-size: 24px;
					}
				}
				.sstc-desc{
					margin-bottom: 80px;
					p{
						margin: 0;
						margin-bottom: 15px;
						&:last-child{
							margin-bottom: 0;
						}
					}
				}
				.sstc-cta{
					position: relative;
					.hp-button{
						img{
							margin-left: 30px;
						}
					}
					&:after{
						position: absolute;
						content: '';
						height: 1px;
						width: 980px;
						background-color: #01386b;
						z-index: 2;
						//@include translate(-50%,-50%);
						top: 50%;
						right: 0;

					}
				}
			}
		}
	}
}
.section-6{
	background: linear-gradient(-90deg, #ffffff 70%, #f7f7f7 30%);
	.s6-content{
		.s6c-first-col{
			padding-top: 45px;
			.s6cfc-content{
				background-color: #003591;
				padding: 22px 40px 90px 28px;
				max-width: 410px;
				.s6cfcc-title{
					margin-bottom: 20px;
					max-width: 200px;
					h3{
						margin: 0;
						font-size: 36px;
						font-weight: 700;
						color: #ffffff;
					}
				}
				.s6cfcc-sub-title{
					margin-bottom: 5px;
					h4{
						margin: 0;
						font-size: 20px;
						font-weight: 600;
						color: #fcf8f7;
					}
				}
				.s6cfcc-desc{
					margin-bottom: 18px;
					p{
						font-size: 16px;
						margin: 0;
						color: #fcf8f7;
					}
				}
			}
		}
		.s6c-second-col{
			.s6csc-contant{
				.s6cscc-title{
					margin-top: 40px;
					margin-bottom: 55px;
					h3{
						margin: 0;
						font-size: 30px;
						color: #02549f;
					}
				}
				.s6cscc-listing{
					.listing-column{
						ul{
							li{
								margin-bottom: 20px;
								.list-title{
									h4{
										margin: 0;
										font-weight: 600;
										span{
											display: inline-block;
											height: 32px;
											width: 32px;
											border-radius:50%;
											border:1px solid #003591;
											text-align: center;
											margin-right: 10px;
											vertical-align: middle;
											padding-top: 3px;
										}
									}
								}
								.list-desc{
									max-width: 300px;
									p{
										margin: 0;
										padding-left: 40px;
									}
								}
							}
						}
					}
				}
			}	
		}
	}
}
.section-7{
	.s7-contain{
		.s7c-left-text{
			padding-right: 40px;
			.s7clt-desc{
				max-width: 470px;
				p{
					margin-bottom: 40px;
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
		}
		.s7c-right-image{
			position: relative;
			.s7cri-title{
				position: absolute;
				top: -90px;
				left: 35%;
				z-index: 3;
			}
			.s7cri-image{
				position: relative;
				z-index: 2;
				margin-bottom: 5px;
			}
			.s2cli-design-box{
				width: 620px;
				height: 530px;
				border:1px solid #bdbdbd;
				position: absolute;
				top: -100px;
				right: -25px;
				z-index: 1;
			}
			.image-title{
				p{
					font-size: 14px;
					font-weight: 600;
					color:$theme-003591;
				}
			}

		}
	}
}
.section-8{
	.s8-contant{
		.s8cc-title{
			.s7cc-tittle{

			}
		}
		.s8cc-desc{
			.s8ccd-desc{
				margin-top: 40px;
				p{
					margin-bottom: 40px;
					font-size: 16px;
					font-weight: 700;
					color: #414142;
					&:last-child{
						margin-bottom: 0;	
					}
				}
			}
		}
	}
}
// Colors - Theme Declaration

.theme-ffffff{
	color: $theme-ffffff !important;
}
.theme-ffffff-bg{
	background-color: $theme-ffffff !important;
}
.theme-003591{
	color: $theme-003591 !important;
}
.theme-003591-bg{
	background-color: $theme-003591 !important;
}
.theme-858585{
	color: $theme-858585 !important;
}
.theme-858585-bg{
	background-color: $theme-858585 !important;
}
.theme-666666{
	color: $theme-666666 !important;
}
.theme-666666-bg{
	background-color: $theme-666666 !important;
}
.theme-6a6a6a{
	color: $theme-6a6a6a !important;
}
.theme-6a6a6a-bg{
	background-color: $theme-6a6a6a !important;
}

.theme-080000{
	color: $theme-080000 !important;
}
.theme-080000-bg{
	background-color: $theme-080000 !important;
}
