@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box; }

body, html {
  height: 100%; }

body {
  background: #ffffff;
  color: #080000;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

ul {
  list-style: none; }
  ul li a {
    text-decoration: none; }
  ul li a:hover {
    text-decoration: none; }

ul.floated-list {
  margin-bottom: 0; }
  ul.floated-list li {
    float: left;
    display: block; }
    ul.floated-list li a {
      display: block; }
    ul.floated-list li ul {
      margin-bottom: 0; }
      ul.floated-list li ul li {
        float: none; }

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.35s ease-out;
  -o-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out; }
  a:hover {
    opacity: 1; }

button[type="submit"],
input[type="submit"] {
  -webkit-transition: all 0.35s ease-out;
  -o-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out; }
  button[type="submit"]:hover,
  input[type="submit"]:hover {
    opacity: 0.7; }

img {
  border: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

h1 {
  font-size: 26px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 22px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  color: inherit; }

label {
  font-weight: normal; }

.font8px {
  font-size: 8px; }

.font9px {
  font-size: 9px; }

.font10px {
  font-size: 10px; }

.font11px {
  font-size: 11px; }

.font12px {
  font-size: 12px; }

.font13px {
  font-size: 13px; }

.font14px {
  font-size: 14px; }

.font15px {
  font-size: 15px; }

.font16px {
  font-size: 16px; }

.bdrs0 {
  border-radius: 0; }

.bdrs5px {
  border-radius: 5px; }

.bdrs8px {
  border-radius: 8px; }

.bdrs10px {
  border-radius: 10px; }

.icon-text {
  margin-right: 8px; }
  .icon-text.sm {
    margin-right: 4px; }

.weight-200 {
  font-weight: 200; }

.weight-300 {
  font-weight: 300; }

.weight-400 {
  font-weight: 400; }

.weight-600 {
  font-weight: 600; }

.weight-700 {
  font-weight: 700; }

.weight-900 {
  font-weight: 900; }

.font-style-italic {
  font-style: italic; }

.font-style-normal {
  font-style: normal; }

.clear {
  clear: both; }

.clearfix:before,
.clearfix:after {
  display: table;
  content: ''; }

.clearfix:after {
  clear: both; }

.inline {
  display: inline; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.lowercase {
  text-transform: lowercase; }

.capitalize {
  text-transform: capitalize; }

.uppercase {
  text-transform: uppercase; }

.div-center {
  display: table;
  margin: 0 auto; }

.fullHeight {
  height: 100%; }

.mytable {
  display: table;
  width: 100%;
  height: 100%; }

.fixed-table-layout {
  table-layout: fixed; }

.table-cell {
  display: table-cell; }

.va-middle {
  vertical-align: middle; }

.va-top {
  vertical-align: top; }

.va-bottom {
  vertical-align: bottom; }

.static {
  position: static; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.fixed {
  position: fixed; }

.cover {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.circle {
  border-radius: 50%; }

.m0 {
  margin: 0 !important; }

.mb-0 {
  margin-bottom: 0 !important; }

.mb-10 {
  margin-bottom: 10px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.mb-40 {
  margin-bottom: 40px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.mt-0 {
  margin-top: 0 !important; }

.mt-10 {
  margin-top: 10px !important; }

.mt-20 {
  margin-top: 20px !important; }

.mt-30 {
  margin-top: 30px !important; }

.mt-40 {
  margin-top: 40px !important; }

.mt-50 {
  margin-top: 50px !important; }

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.my-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important; }

.my-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important; }

.my-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important; }

.my-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important; }

.my-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important; }

.pb-0 {
  padding-bottom: 0 !important; }

.pb-10 {
  padding-bottom: 10px !important; }

.pb-20 {
  padding-bottom: 20px !important; }

.pb-30 {
  padding-bottom: 30px !important; }

.pb-40 {
  padding-bottom: 40px !important; }

.pb-50 {
  padding-bottom: 50px !important; }

.pt-0 {
  padding-top: 0 !important; }

.pt-10 {
  padding-top: 10px !important; }

.pt-20 {
  padding-top: 20px !important; }

.pt-30 {
  padding-top: 30px !important; }

.pt-40 {
  padding-top: 40px !important; }

.pt-50 {
  padding-top: 50px !important; }

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.py-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important; }

.py-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important; }

.py-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important; }

.py-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important; }

.py-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important; }

.fill {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.col-xs-20,
.col-sm-20,
.col-md-20,
.col-lg-20 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-xs-20 {
  width: 20%;
  float: left; }

@media (min-width: 768px) {
  .col-sm-20 {
    width: 20%;
    float: left; } }
@media (min-width: 992px) {
  .col-md-20 {
    width: 20%;
    float: left; } }
@media (min-width: 1200px) {
  .col-lg-20 {
    width: 20%;
    float: left; } }
.fitVid {
  position: relative;
  padding-bottom: 56%;
  height: 0; }
  .fitVid iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.row45 {
  margin-left: -45px;
  margin-right: -45px; }
  .row45 .column {
    padding-left: 45px;
    padding-right: 45px; }

.row25 {
  margin-left: -25px;
  margin-right: -25px; }
  .row25 .column {
    padding-left: 25px;
    padding-right: 25px; }

.row20 {
  margin-left: -20px;
  margin-right: -20px; }
  .row20 .column {
    padding-left: 20px;
    padding-right: 20px; }

.row10 {
  margin-left: -10px;
  margin-right: -10px; }
  .row10 .column {
    padding-left: 10px;
    padding-right: 10px; }

.row7 {
  margin-left: -7px;
  margin-right: -7px; }
  .row7 .column {
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 14px; }

.row5 {
  margin-left: -5px;
  margin-right: -5px; }
  .row5 .column {
    padding-left: 5px;
    padding-right: 5px; }

.form-control {
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.055); }

.form-control[type="button"],
.form-control[type="submit"],
.form-control[type="reset"] {
  -webkit-appearance: none;
  cursor: pointer; }

.form-control::-moz-placeholder {
  color: #838383;
  opacity: 1; }

.form-control:-ms-input-placeholder {
  color: #838383; }

.form-control::-webkit-input-placeholder {
  color: #838383; }

.form-control:focus {
  box-shadow: none; }

.hp-container {
  width: 1400px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto; }
  .hp-container .hc-sub-container {
    display: table;
    margin-left: auto;
    margin-right: auto; }
    .hp-container .hc-sub-container.hsc-100 {
      width: 100%; }
    .hp-container .hc-sub-container.hsc-95 {
      width: 95%; }
    .hp-container .hc-sub-container.hsc-90 {
      width: 90%; }
    .hp-container .hc-sub-container.hsc-85 {
      width: 85%; }
    .hp-container .hc-sub-container.hsc-80 {
      width: 80%; }

.sec-title h2 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  color: #003591; }
  .sec-title h2 span {
    font-size: 26px;
    font-weight: 800;
    color: #6a6a6a; }

.hp-button {
  color: #ffffff;
  background-color: #003591;
  padding: 8px 50px 8px 10px;
  display: inline-block;
  font-weight: 800;
  font-size: 14px; }
  .hp-button img {
    margin-left: 5px;
    vertical-align: middle;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg); }

.hp-responsive-img {
  max-width: 100%; }

.section {
  margin: 0 0 150px; }

.section-1 .s1-content .ss-items {
  display: none; }
  .section-1 .s1-content .ss-items.active {
    display: block; }
.section-1 .s1-content .s1-slider .ss-items {
  height: 80vh;
  position: relative; }
  .section-1 .s1-content .s1-slider .ss-items .design-box {
    border: 1px solid  #bdbdbd;
    width: 315px;
    height: 285px;
    position: absolute;
    top: 27%;
    left: 11%;
    z-index: 2; }
  .section-1 .s1-content .s1-slider .ss-items .ssi-contain .ssic-title {
    max-width: 500px;
    position: absolute;
    top: 35%;
    left: 20%;
    z-index: 2; }
    .section-1 .s1-content .s1-slider .ss-items .ssi-contain .ssic-title .ssict-text h1 {
      margin: 0;
      font-size: 72px;
      font-weight: 700;
      color: #ffffff; }
  .section-1 .s1-content .s1-slider .ss-items .ssi-contain .ssi-cta-section {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #003591;
    padding: 80px 0 14px;
    z-index: 2;
    max-width: 250px;
    text-decoration: none; }
    .section-1 .s1-content .s1-slider .ss-items .ssi-contain .ssi-cta-section .ssics-intro {
      padding: 0 17px; }
      .section-1 .s1-content .s1-slider .ss-items .ssi-contain .ssi-cta-section .ssics-intro p {
        margin: 0;
        font-size: 20px;
        font-weight: 800;
        color: #ffffff; }
    .section-1 .s1-content .s1-slider .ss-items .ssi-contain .ssi-cta-section .ssics-icon {
      text-align: right; }
      .section-1 .s1-content .s1-slider .ss-items .ssi-contain .ssi-cta-section .ssics-icon img {
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg); }
  .section-1 .s1-content .s1-slider .ss-items:after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(10, 10, 10, 0.4); }
.section-1 .s1-content .s1-tabs {
  margin-top: 40px;
  margin-bottom: 150px; }
  .section-1 .s1-content .s1-tabs ul {
    margin-left: -10px;
    margin-right: -10px; }
    .section-1 .s1-content .s1-tabs ul li {
      padding-left: 10px;
      padding-right: 10px;
      width: 14.28571%; }
      .section-1 .s1-content .s1-tabs ul li a {
        color: #666666;
        font-size: 14px;
        font-weight: 800;
        text-transform: uppercase;
        border-bottom: 1px solid #858585;
        padding-bottom: 10px; }
.section-1 .s1-content .s1-intro .s1i-tittle-image-text-cta .s1ititc-title-image {
  position: relative;
  width: 55%; }
  .section-1 .s1-content .s1-intro .s1i-tittle-image-text-cta .s1ititc-title-image .s1i-title {
    position: absolute;
    top: -100px;
    z-index: 3; }
  .section-1 .s1-content .s1-intro .s1i-tittle-image-text-cta .s1ititc-title-image .s1i-image {
    position: relative;
    z-index: 2; }
  .section-1 .s1-content .s1-intro .s1i-tittle-image-text-cta .s1ititc-title-image .s1i-design-box {
    width: 450px;
    height: 300px;
    border: 1px solid  #bdbdbd;
    position: absolute;
    right: 0;
    top: 120px;
    z-index: 1; }
.section-1 .s1-content .s1-intro .s1i-tittle-image-text-cta .s1ititc-text-cta {
  padding-left: 45px;
  width: 45%; }
  .section-1 .s1-content .s1-intro .s1i-tittle-image-text-cta .s1ititc-text-cta .s1ititctc-text .s1ititct-title {
    max-width: 490px;
    margin-bottom: 40px; }
    .section-1 .s1-content .s1-intro .s1i-tittle-image-text-cta .s1ititc-text-cta .s1ititctc-text .s1ititct-title h3 {
      font-size: 24px;
      font-weight: 600; }
  .section-1 .s1-content .s1-intro .s1i-tittle-image-text-cta .s1ititc-text-cta .s1ititctc-text .s1ititct-description {
    margin-bottom: 40px;
    max-width: 440px; }
    .section-1 .s1-content .s1-intro .s1i-tittle-image-text-cta .s1ititc-text-cta .s1ititctc-text .s1ititct-description p {
      margin-bottom: 40px; }
      .section-1 .s1-content .s1-intro .s1i-tittle-image-text-cta .s1ititc-text-cta .s1ititctc-text .s1ititct-description p:last-child {
        margin-bottom: 0; }
.section-1 .s1-content .s1-intro .s1i-four-column-listing {
  position: relative;
  margin-top: 100px; }
  .section-1 .s1-content .s1-intro .s1i-four-column-listing ul {
    margin-left: -10px;
    margin-right: -10px; }
    .section-1 .s1-content .s1-intro .s1i-four-column-listing ul li {
      position: relative;
      padding-left: 10px;
      padding-right: 10px;
      width: 25%; }
      .section-1 .s1-content .s1-intro .s1i-four-column-listing ul li .fcl-title h2 {
        font-size: 60px;
        font-weight: 700;
        color: #003591; }
      .section-1 .s1-content .s1-intro .s1i-four-column-listing ul li .fcl-desc {
        width: 200px; }
        .section-1 .s1-content .s1-intro .s1i-four-column-listing ul li .fcl-desc p {
          padding-bottom: 10px; }
      .section-1 .s1-content .s1-intro .s1i-four-column-listing ul li:after {
        position: absolute;
        width: 200px;
        height: 1px;
        border: 1px solid #003591;
        content: '';
        bottom: 0;
        left: 0;
        z-index: 3; }

.section-2 {
  padding-top: 100px; }
  .section-2 .s2-contain .s2c-left-image {
    position: relative;
    padding-right: 90px; }
    .section-2 .s2-contain .s2c-left-image .sec-title {
      position: absolute;
      top: -100px;
      left: 50px;
      z-index: 2; }
    .section-2 .s2-contain .s2c-left-image .s2cli-image {
      position: relative;
      z-index: 1; }
    .section-2 .s2-contain .s2c-left-image .s2cli-design-box {
      width: 350px;
      height: 240px;
      border: 1px solid #ababab;
      position: absolute;
      top: -100px;
      left: -25px;
      z-index: 0; }
  .section-2 .s2-contain .s2c-right-text .s2crt-desc {
    max-width: 550px;
    margin-bottom: 40px; }

.section-3 {
  position: relative; }
  .section-3 .s3-contain .s3c-column {
    float: left;
    width: 33.33%; }
  .section-3 .s3-contain .faq-column .fqc-contain {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    margin-top: 40px;
    position: relative; }
    .section-3 .s3-contain .faq-column .fqc-contain:after {
      position: absolute;
      content: '';
      width: 1px;
      height: 500px;
      background-color: #dbdbdb;
      top: 0;
      left: 0; }
    .section-3 .s3-contain .faq-column .fqc-contain .fc-title {
      margin-bottom: 30px; }
      .section-3 .s3-contain .faq-column .fqc-contain .fc-title h3 {
        margin: 0;
        font-size: 20px;
        color: #02549f; }
    .section-3 .s3-contain .faq-column .fqc-contain .fc-desc {
      color: #080200;
      margin-bottom: 25px; }
      .section-3 .s3-contain .faq-column .fqc-contain .fc-desc .fcd-title {
        margin-bottom: 5px; }
        .section-3 .s3-contain .faq-column .fqc-contain .fc-desc .fcd-title h4 {
          font-weight: 600;
          font-size: 14px; }
    .section-3 .s3-contain .faq-column .fqc-contain .fcd-cta .hp-button {
      background-color: transparent;
      color: #003591; }
  .section-3 .s3-contain .note-column {
    background-color: #f7f7f7;
    padding: 35px 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0; }
    .section-3 .s3-contain .note-column .s2ccncc-desc {
      background-color: #009fda;
      padding: 80px 35px 105px 35px;
      max-width: 390px;
      position: relative;
      left: -30px; }
      .section-3 .s3-contain .note-column .s2ccncc-desc h3 {
        font-size: 30px;
        font-weight: 700;
        color: #ffffff;
        text-transform: uppercase; }

.section-4 {
  position: relative; }
  .section-4 .s4-contain .s4c-note {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: inline-block;
    background-color: #ebebeb;
    max-width: 500px; }
    .section-4 .s4-contain .s4c-note .s4cn-contain {
      padding: 30px;
      position: relative; }
      .section-4 .s4-contain .s4c-note .s4cn-contain .s4cn-title {
        max-width: 380px;
        margin-bottom: 15px; }
        .section-4 .s4-contain .s4c-note .s4cn-contain .s4cn-title h3 {
          font-size: 24px;
          font-weight: 700;
          color: #999999; }
      .section-4 .s4-contain .s4c-note .s4cn-contain .s4cn-desc {
        max-width: 430px; }
        .section-4 .s4-contain .s4c-note .s4cn-contain .s4cn-desc p {
          color: #7d7b7a; }
      .section-4 .s4-contain .s4c-note .s4cn-contain .s4cn-cta {
        position: relative;
        text-align: right;
        bottom: -50px; }
  .section-4 .s4-contain .s4c-design {
    width: 50%; }
    .section-4 .s4-contain .s4c-design .desgn-box {
      width: 50%; }

.section-5 .s5-title {
  background-color: #003591;
  padding: 25px 140px 25px 125px;
  margin-bottom: -95px;
  display: inline-block; }
  .section-5 .s5-title h2 {
    margin: 0;
    text-transform: uppercase;
    font-size: 36px;
    color: #ffffff;
    font-weight: 700; }
.section-5 .s5-content .s5c-listings .sl-item {
  margin-bottom: 45px; }
  .section-5 .s5-content .s5c-listings .sl-item a {
    display: block; }
    .section-5 .s5-content .s5c-listings .sl-item a .image-title {
      background: #009fda;
      padding: 7px 0 7px 15px; }
      .section-5 .s5-content .s5c-listings .sl-item a .image-title:after {
        content: '';
        border-right: 36px solid #ffffff;
        border-left: 36px solid transparent;
        border-top: 36px solid transparent;
        z-index: 2; }
      .section-5 .s5-content .s5c-listings .sl-item a .image-title .it-text {
        color: #ffffff;
        font-weight: 800;
        font-size: 14px; }
      .section-5 .s5-content .s5c-listings .sl-item a .image-title .it-icon {
        float: right;
        margin-right: 30px; }
        .section-5 .s5-content .s5c-listings .sl-item a .image-title .it-icon img {
          -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          -o-transform: rotate(-90deg);
          transform: rotate(-90deg); }
.section-5 .s5-content .s5-intro .sst-content .sstc-title {
  margin-bottom: 18px; }
  .section-5 .s5-content .s5-intro .sst-content .sstc-title h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: #a6a6a6; }
.section-5 .s5-content .s5-intro .sst-content .sstc-sub-title {
  margin-bottom: 30px; }
  .section-5 .s5-content .s5-intro .sst-content .sstc-sub-title h3 {
    margin: 0;
    font-size: 24px; }
.section-5 .s5-content .s5-intro .sst-content .sstc-desc {
  margin-bottom: 80px; }
  .section-5 .s5-content .s5-intro .sst-content .sstc-desc p {
    margin: 0;
    margin-bottom: 15px; }
    .section-5 .s5-content .s5-intro .sst-content .sstc-desc p:last-child {
      margin-bottom: 0; }
.section-5 .s5-content .s5-intro .sst-content .sstc-cta {
  position: relative; }
  .section-5 .s5-content .s5-intro .sst-content .sstc-cta .hp-button img {
    margin-left: 30px; }
  .section-5 .s5-content .s5-intro .sst-content .sstc-cta:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 980px;
    background-color: #01386b;
    z-index: 2;
    top: 50%;
    right: 0; }

.section-6 {
  position: relative; }
  .section-6 .s6-content .s6c-first-col {
    background-color: #f7f7f7;
    padding: 40px 30px 40px 100px;
    position: absolute;
    left: 0; }
    .section-6 .s6-content .s6c-first-col .s6cfc-content {
      background-color: #003591;
      padding: 20px 30px 100px;
      max-width: 500px;
      position: relative;
      right: -100px; }
      .section-6 .s6-content .s6c-first-col .s6cfc-content .s6cfcc-title {
        margin-bottom: 18px; }
        .section-6 .s6-content .s6c-first-col .s6cfc-content .s6cfcc-title h3 {
          margin: 0;
          font-size: 36px;
          font-weight: 700;
          color: #ffffff; }
      .section-6 .s6-content .s6c-first-col .s6cfc-content .s6cfcc-sub-title {
        margin-bottom: 5px; }
        .section-6 .s6-content .s6c-first-col .s6cfc-content .s6cfcc-sub-title h4 {
          margin: 0;
          font-size: 20px;
          font-weight: 600;
          color: #fcf8f7; }
      .section-6 .s6-content .s6c-first-col .s6cfc-content .s6cfcc-desc {
        margin-bottom: 18px; }
        .section-6 .s6-content .s6c-first-col .s6cfc-content .s6cfcc-desc p {
          font-size: 16px;
          margin: 0;
          color: #fcf8f7; }
  .section-6 .s6-content .s6c-second-col .s6csc-contant .s6cscc-title {
    margin-top: 40px;
    margin-bottom: 55px; }
    .section-6 .s6-content .s6c-second-col .s6csc-contant .s6cscc-title h3 {
      margin: 0;
      font-size: 30px;
      color: #02549f; }
  .section-6 .s6-content .s6c-second-col .s6csc-contant .s6cscc-listing .listing-column ul li {
    margin-bottom: 20px; }
    .section-6 .s6-content .s6c-second-col .s6csc-contant .s6cscc-listing .listing-column ul li .list-title h4 {
      margin: 0;
      font-weight: 600; }
      .section-6 .s6-content .s6c-second-col .s6csc-contant .s6cscc-listing .listing-column ul li .list-title h4 span {
        display: inline-block;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        border: 1px solid #003591;
        text-align: center;
        margin-right: 10px;
        vertical-align: middle;
        padding-top: 3px; }
    .section-6 .s6-content .s6c-second-col .s6csc-contant .s6cscc-listing .listing-column ul li .list-desc {
      max-width: 300px; }
      .section-6 .s6-content .s6c-second-col .s6csc-contant .s6cscc-listing .listing-column ul li .list-desc p {
        margin: 0;
        padding-left: 40px; }

.section-7 .s7-contain .s7c-left-text {
  padding-right: 40px; }
  .section-7 .s7-contain .s7c-left-text .s7clt-desc {
    max-width: 470px; }
    .section-7 .s7-contain .s7c-left-text .s7clt-desc p {
      margin-bottom: 40px; }
      .section-7 .s7-contain .s7c-left-text .s7clt-desc p:last-child {
        margin-bottom: 0; }
.section-7 .s7-contain .s7c-right-image {
  position: relative;
  right: -75px; }
  .section-7 .s7-contain .s7c-right-image .s7cri-title {
    position: absolute;
    top: -100px;
    left: 32%;
    z-index: 3; }
  .section-7 .s7-contain .s7c-right-image .s7cri-image {
    position: relative;
    z-index: 2;
    margin-bottom: 5px; }
  .section-7 .s7-contain .s7c-right-image .s2cli-design-box {
    width: 620px;
    height: 530px;
    border: 1px solid #bdbdbd;
    position: absolute;
    top: -100px;
    right: 0;
    z-index: 1; }
  .section-7 .s7-contain .s7c-right-image .image-title p {
    font-size: 14px;
    font-weight: 600;
    color: #003591; }

.section-8 .s8-contant .s8cc-desc .s8ccd-desc {
  margin-top: 40px; }
  .section-8 .s8-contant .s8cc-desc .s8ccd-desc p {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 700;
    color: #414142; }
    .section-8 .s8-contant .s8cc-desc .s8ccd-desc p:last-child {
      margin-bottom: 0; }

.theme-ffffff {
  color: #ffffff !important; }

.theme-ffffff-bg {
  background-color: #ffffff !important; }

.theme-003591 {
  color: #003591 !important; }

.theme-003591-bg {
  background-color: #003591 !important; }

.theme-858585 {
  color: #858585 !important; }

.theme-858585-bg {
  background-color: #858585 !important; }

.theme-666666 {
  color: #666666 !important; }

.theme-666666-bg {
  background-color: #666666 !important; }

.theme-6a6a6a {
  color: #6a6a6a !important; }

.theme-6a6a6a-bg {
  background-color: #6a6a6a !important; }

.theme-080000 {
  color: #080000 !important; }

.theme-080000-bg {
  background-color: #080000 !important; }

/*# sourceMappingURL=style.css.map */
